<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--header outer-->
    <div class="header-wrapper">
      <div class="header-inner">
        <div class="logo-wrapper">
          <img src="../assets/SCM-transparent.svg" alt="logo image" />
        </div>
        <div class="nav-wrapper">
          <ul>
            <li>Home</li>
            <li>Men</li>
            <li>Women</li>
            <li>Fashion</li>
            <li>About</li>
          </ul>
        </div>
      </div>
    </div>
    <!--header outer-->

    <!--slider-outer-->
    <div class="slider-container">
      <div class="slider-inner left-slider">
        <div class="left-side-content-wrapper">
          <h1>Hello</h1>
          <button>Click here</button>
        </div>
        <div class="shadow"></div>
      </div>
      <div class="slider-inner right-slider">
        <div class="right-slider-wrapper">
          <div class="right-slider-slot"></div>
          <div class="right-slider-slot"></div>
        </div>
        <div class="right-slider-wrapper"></div>
      </div>
    </div>
    <!--slider-outer-->
  </body>
</html>
<!-- <button mat-raised-button button-color="tertiary">Basic</button>
<button mat-raised-button disabled>Disabled</button>
<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      Column
    </div>
    <div class="col-sm">
      Column
    </div>
    <div class="col-sm">
      Column
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    Test
  </div>
  <div class="col-4">
    Test
  </div>
  <div class="col-4">
    Test
  </div>  
</div> -->
